/* 

*/

@font-face {
  font-family: "BAHAMABD";
  src: url("https://static.wfonts.com/data/2015/05/23/bahamas/BAHAMABD.ttf")
    format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "BAHAMAS_LIGHT";
  src: url("/fonts/BahamasLight-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "BAHAMAS_HEAVY";
  src: url("/fonts/BahamasHeavy-Regular.ttf") format("truetype");
  font-display: swap;
}


@import "tailwindcss";

@theme {
  --font-bahamas: "BAHAMABD", sans-serif;
  --font-bahamas-light: "BAHAMAS_LIGHT", sans-serif;
  --font-bahamas-heavy: "BAHAMAS_HEAVY", sans-serif;
}